.helping-insert {
    text-align: left;

    .helping-insert-component {
        margin-top: 80px;
    }

    .helping-insert-component > h3 {
        margin-top: 80px;
    }

    .helping-insert-select {
        width: 400px;
        height: 40px;
        margin-top: 8px;
    }
}