.errorboard-component-view-main {
    margin-top: 350px;

    .errorboard-comment-view {
        margin-top: 60px;

        .errorboard-comment-nickname {
            text-align: left;
            font-size: 20px;
            font-weight: bold;
        }

        .errorboard-comment-comment {
            text-align: left;
            
        }
    }
}